body{
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                        'header header header header'
                        'section section section aside'
                        'footer footer footer footer';
    grid-template-rows: 7vh 60vh 40vh 8vh;
    grid-template-columns: 25vw 25vw 19vw 31vw;
    /* grid-gap: 1vh; */
    margin:0;
}

nav img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

nav{
    display: flex;
    align-items: center;
    grid-area: navbar;
    justify-content: space-between;
    background-color:#A60A33;
}

nav div:nth-child(2){
    display: flex;
    width: 50%;
}

a{
    text-decoration: none;
    font-family: 'stylesheet', Courier, monospace;
    color: white;
}
.menu{
    display: flex;
    widows: 300px;
    justify-content: space-around;
}

nav{
    grid-area: navbar;
    background-color:black;
}

header{
    grid-area:header;
    background-image: url("imagens/avengers_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

section{
    grid-area:section;
    background-color:yellow;
    text-align: center;
}

section p{
    margin: 20px
}

aside{
    grid-area: aside;
    background-color:  rgb(3, 3, 117);
}

aside img{
    width: 425px;
    height: 300px;
}

footer{
    grid-area: footer;
    background-color: blueviolet;
}